<!DOCTYPE html>

<html>
  <head>
    <title>svrohith9</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="../static/css/noscript.css"
    /></noscript>
  </head>
  <body class="is-preload">
    <div id="wrapper">
      <div id="bg"></div>
      <div id="overlay"></div>
      <div id="main">
        <!-- Header -->
        <header id="header">
          <h1>Rohith SV</h1>
          <p>Software Developer</p>
          <nav>
            <ul>
              <li>
                <a
                  href="https://twitter.com/svrohith9"
                  class="icon brands fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a
                  href="../static/svrohith9_resume.pdf"
                  class="icon brands fa-dropbox"
                  ><span class="label">Resume</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/svrohith9/"
                  class="icon brands fa-linkedin"
                  ><span class="label">LinkedIn</span></a
                >
              </li>
              <li>
                <a
                  href="https://github.com/svrohith9"
                  class="icon brands fa-github"
                  ><span class="label">Github</span></a
                >
              </li>
              <li>
                <a
                  href="mailto:svrohith9@gmail.com"
                  class="icon solid fa-envelope"
                  ><span class="label">Email</span></a
                >
              </li>
            </ul>
          </nav>
        </header>
      </div>
    </div>
    <script>
      window.onload = function () {
        document.body.classList.remove("is-preload");
      };
      window.ontouchmove = function () {
        return false;
      };
      window.onorientationchange = function () {
        document.body.scrollTop = 0;
      };
    </script>
  </body>
</html>
